@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
    --font-georama: "Georama", sans-serif;
    --font-roboto: "Roboto Mono", monospace;
    --breakpoint-3xl: 1920px;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@utility flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@utility col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@utility abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

html,
body {
    width: 100dvw;
    overflow: hidden;
    height: 100dvh;
    background-image: url("/images/wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Georama", sans-serif;
}

main {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255 255 255 / 0.5);
    backdrop-filter: blur(48px);
    padding: 0.5rem 1.25rem;
    user-select: none;
}

nav div {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

@media (max-width: 640px) {
    nav div {
        width: 100%;
        justify-content: center;
    }

    nav div:last-child {
        display: none;
    }
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

@media (max-width: 640px) {
    nav ul {
        display: none;
    }
}

nav ul p {
    font-size: 0.875rem;
    cursor: pointer;
    transition: all;
}

nav ul p:hover {
    text-decoration: underline;
}

nav time {
    font-size: 0.875rem;
    font-weight: 500;
    color: #000000;
}

.icon {
    padding: 0.25rem;
    border-radius: 0.25rem;
    cursor: default;
}

.icon:hover {
    background-color: rgb(229 231 235);
}

#welcome {
    color: rgb(229 231 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    user-select: none;
}

@media (max-width: 640px) {
    #welcome {
        height: 100vh;
        width: 100%;
        padding-inline: 2.5rem;
    }
}

#welcome .small-screen {
    margin: 1.75rem;
    background-color: rgb(252 165 165 / 0.2);
    backdrop-filter: blur(16px);
    padding: 0.75rem;
    border-radius: 0.375rem;
    position: absolute;
    top: 2.5rem;
}

@media (min-width: 640px) {
    #welcome .small-screen {
        display: none;
    }
}

#welcome .small-screen p {
    flex: 1;
    font-size: 16px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    color: rgb(156 163 175);
}

#dock {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    translate: -50% 0;
    z-index: 50;
    user-select: none;
}

@media (max-width: 640px) {
    #dock {
        display: none;
    }
}

#dock .dock-container {
    background-color: rgb(255 255 255 / 0.2);
    backdrop-filter: blur(12px);
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0.375rem;
    display: flex;
    align-items: end;
    gap: 0.375rem;
}

#dock .tooltip {
    padding-block: 0.25rem !important;
    padding-inline: 0.75rem !important;
    width: fit-content !important;
    text-align: center !important;
    font-size: 0.75rem !important;
    border-radius: 0.375rem !important;
    background-color: rgb(191 219 254) !important;
    color: rgb(30 58 138) !important;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
}

#dock .dock-icon {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
}

@media (min-width: 1920px) {
    #dock .dock-icon {
        width: 5rem;
        height: 5rem;
    }
}

#dock .dock-icon img {
    object-fit: cover;
    object-position: center;
}

#window-controls {
    display: flex;
    gap: 0.5rem;
}

#window-controls .close {
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 9999px;
    background-color: #ff6157;
    cursor: pointer;
}

#window-controls .minimize {
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 9999px;
    background-color: #ffc030;
}

#window-controls .maximize {
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 9999px;
    background-color: #2acb42;
}

#window-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgb(249 250 251);
    border-bottom: 1px solid rgb(229 231 235);
    user-select: none;
    font-size: 0.875rem;
    color: rgb(156 163 175);
}

#safari {
    width: 56rem;
    position: absolute;
    top: 10rem;
    left: 16.666667%;
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 0.75rem;
    overflow: hidden;
}

#safari .search {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 66.666667%;
    background-color: #ffffff;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.5rem;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
}

#safari .search input::placeholder {
    color: rgb(156 163 175);
}

#safari .blog {
    background-color: #ffffff;
    padding: 2.5rem;
    max-width: 48rem;
    margin-inline: auto;
}

#safari .blog h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(219 39 119);
    margin-bottom: 2.5rem;
}

#safari .blog .blog-post {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 1.25rem;
}

#safari .blog .blog-post img {
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
    object-fit: cover;
}

#safari .blog .blog-post .content {
    grid-column: span 10 / span 10;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#safari .blog .blog-post .content p {
    font-size: 0.75rem;
    color: rgb(107 114 128);
}

#safari .blog .blog-post .content h3 {
    font-weight: 600;
    font-size: 1rem;
    color: rgb(31 41 55);
}

#safari .blog .blog-post .content a {
    color: rgb(37 99 235);
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#safari .blog .blog-post .content a:hover {
    text-decoration: underline;
}

#terminal {
    width: 36rem;
    position: absolute;
    top: 8rem;
    left: 8.333333%;
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 0.75rem;
    overflow: hidden;
}

#terminal h2 {
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
}

#terminal .techstack {
    font-size: 0.875rem;
    font-family: "Roboto Mono", monospace;
    padding: 1.25rem;
}

#terminal .techstack .label {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    margin-top: 1.75rem;
}

#terminal .techstack .content {
    padding-block: 1.25rem;
    margin-block: 1.25rem;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#terminal .techstack .content li .check {
    color: #00a154;
    width: 1.25rem;
}

#terminal .techstack .content li h3 {
    font-weight: 600;
    color: #00a154;
    width: 8rem;
    margin-left: 1.25rem;
}

#terminal .techstack .content li ul {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#terminal .techstack .footnote {
    color: #00a154;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#terminal .techstack .footnote p {
    display: flex;
    align-items: center;
}

#terminal .techstack .footnote p svg {
    width: 1.25rem;
    margin-right: 1.25rem;
}

#contact {
    max-width: 42rem;
    position: absolute;
    top: 15rem;
    left: 41.666667%;
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 0.75rem;
    overflow: hidden;
}

#contact h2 {
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
}

#contact h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

#contact ul {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#contact ul li {
    border-radius: 0.5rem;
    padding: 0.75rem;
    width: 15rem;
    transition: all 0.3s;
    transform-origin: center;
}

#contact ul li:hover {
    translate: 0 -0.125rem;
    scale: 1.05;
}

#contact ul li a {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#contact ul li p {
    font-weight: 600;
    font-size: 0.875rem;
    color: #ffffff;
}

#photos {
    max-width: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 0.75rem;
    overflow: hidden;
}

#photos .sidebar {
    width: 25%;
    flex: none;
    background-color: rgb(249 250 251);
    border-right: 1px solid rgb(229 231 235);
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

#photos .sidebar h2 {
    font-size: 0.75rem;
    font-weight: 500;
    color: rgb(156 163 175);
    margin-bottom: 0.25rem;
}

#photos .sidebar ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color;
    margin-block: 0.25rem;
}

#photos .sidebar ul li:first-child {
    background-color: rgb(219 234 254);
    color: rgb(29 78 216);
}

#photos .sidebar ul li img {
    width: 1rem;
}

#photos .sidebar ul li p {
    font-size: 0.875rem;
    font-weight: 500;
}

#photos .gallery {
    padding: 1.25rem;
}

#photos .gallery ul {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    gap: 0.625rem;
}

#photos .gallery ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

#photos .gallery ul li:first-child {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

#photos .gallery ul li:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 6;
}

#photos .gallery ul li:nth-child(3) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 6;
}

#photos .gallery ul li:last-child {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}

#resume {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 4rem;
    left: 58.333333%;
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 0.75rem;
    overflow: hidden;
}

#resume #window-header h2 {
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
    flex: 1;
}

#finder {
    position: absolute;
    width: 56rem;
    left: 10rem;
    top: 5rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    overflow: hidden;
    border-radius: 0.75rem;
}

#finder .sidebar {
    width: 12rem;
    background-color: rgb(249 250 251);
    border-right: 1px solid rgb(229 231 235);
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 0.75rem;
}

#finder .sidebar h3 {
    font-size: 0.75rem;
    font-weight: 500;
    color: rgb(156 163 175);
    margin-bottom: 0.25rem;
}

#finder .sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#finder .sidebar ul .active {
    background-color: rgb(219 234 254);
    color: rgb(29 78 216);
}

#finder .sidebar ul .not-active {
    color: rgb(55 65 81);
}

#finder .sidebar ul .not-active:hover {
    background-color: rgb(229 231 235);
}

#finder .sidebar ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color;
}

#finder .content {
    flex: 1;
    padding: 2rem;
    background-color: #ffffff;
    max-width: 42rem;
    position: relative;
}

#finder .content li {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
}

#finder .content li img {
    object-fit: contain;
    object-position: center;
    width: 4rem;
    height: 4rem;
    position: relative;
}

#finder .content li:hover img {
    scale: 1.05;
}

#finder .content li p {
    font-size: 0.875rem;
    text-align: center;
    font-weight: 500;
    width: 10rem;
}

#txtfile {
    width: 28rem;
    position: absolute;
    top: 9rem;
    right: 8rem;
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 0.75rem;
    overflow: hidden;
}

#txtfile h2 {
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
}

#imgfile {
    width: 36rem;
    position: absolute;
    top: 10rem;
    left: 16.666667%;
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 0.75rem;
    overflow: hidden;
}

#imgfile #window-header p {
    font-weight: 700;
    color: #5f6266;
}

#imgfile .preview {
    padding: 0.5rem;
    background-color: rgb(229 231 235);
    max-height: 70vh;
}

#imgfile .preview img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
    object-position: center;
}

#home {
    position: relative;
    z-index: 0;
}

@media (max-width: 640px) {
    #home {
        display: none;
    }
}

#home ul li {
    position: absolute;
    z-index: 0;
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#home ul li img {
    padding: 0.25rem;
    border-radius: 0.375rem;
}

#home ul li:hover img {
    background-color: rgb(3 7 18 / 0.1);
}

#home ul li p {
    font-size: 0.875rem;
    color: #ffffff;
    text-align: center;
    padding-inline: 0.25rem;
    border-radius: 0.375rem;
    transition: background-color;
    max-width: 10rem;
}

#home ul li:hover p {
    background-color: rgb(59 130 246);
}
